.cell {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
}

.buttons {
  margin: 0.5rem;
  button {
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
